<% include ./layouts/header %>

<h1>マイページ</h1>
<div>
	<p>ようこそ、<%= user.name %>さん！(id:<%= user.id %>)</p>
</div>
<div>
	<p>あなたのメールアドレスは、【<%= user.email %>】です。</p>
</div>
<div>
	<a href="/">ホームに戻る</a>
	<span> | </span>
	<a href=<%= `/users/${user.id}/test` %>>テストページへ</a>
	<span> | </span>
	<a href=<%= `/users/${user.id}/sign_out` %>>ログアウトする</a>
</div>

<% include ./layouts/footer %>